* {
    box-sizing: border-box;
}

:root {
    --highlight-color: gold;
    --background-sub-color: #E5DBB4;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #ededed;
}

.main-container {
    display: flex;
    position: relative;
}

li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    filter: drop-shadow(1px 1px crimson)
}

h3 {
    text-decoration: underline;
}

#banner {
    margin: auto;
    padding: 0;
    height: 100px;
    overflow: hidden;
    
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#header-container {
    text-align: center;
    height: 100vh;

    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#header-content {
    display: flex;
    justify-content: space-around;
}

#header-nav {
    background-color: white;
    height: 50px;
}

#letter-input {
    margin: 5px 5px 5px 5px;
}

#nav-ul {
    display: flex;
    text-align: center;
    margin: auto;
    margin-right: 0;
    width: 250px;
    list-style-type: none;
}

#nav-ul li {
    margin: 20px;
}

#sentence-input {
    margin: 5px 5px 5px 5px;
    width: 50%;
    border: none;
    box-shadow: 1px 1px 2px gray;
}

#sentence-input:active {
    border: none;
}

#random {
    width: 100%;
    padding: 20px;
    background-color: var(--background-sub-color);
}

#search-input {
    border-radius: 10px;
    border: 1px solid grey;
    padding: 5px;
    margin-bottom: 5px;
}

.active {
    background-color: #433133 !important;
    color: white !important;
}

.banner-frame {
    height: 300px;
    font-size: 50px;
    font-weight: bold;
    box-shadow: 0 0 5px crimson;
    margin-top: 50px;
    filter: drop-shadow(2px 2px crimson);
}

.banner-paragraph {
    margin: 0;
}

.banner-subparagraph {
    font-size: 20px;
}

.big {
    font-size: 120px;
    text-align: center;
    box-shadow: 0 0 4px var(--highlight-color);
    filter: drop-shadow(0 0 4px var(--highlight-color)gold);
    width: 50%;
    margin: auto;
    background-color: white;
}

.card {
    width: 60px;
    height: 60px;
    margin: 1% 5.5% 1% 5.5%;
    border-radius: 10px;
    border: 1px solid var(--highlight-color);
    box-shadow: 0 0 5px var(--highlight-color);
    background-color: white;
}

.card-section {
    flex-wrap: wrap;
    margin: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.left, .right {
    width: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.middle {
    width: 50%;
    margin-bottom: 20px;
}

.sound-table {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px var(--highlight-color);
}

.sound-table-header {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

.sticky {
    position: sticky;
    top: 30%;
}

.tab {
    margin: 2px;
    margin-bottom: 10px;
    padding: 10px;
    color: black;
    font-weight: bold;
    background-color: var(--background-sub-color);
    border: none;
    box-shadow: 1px 1px 1px grey;
}

.section-title {
    font-size: xx-large;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.titles-container {
    display: flex;
    height: 500px;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
}